html[data-theme="light"],
:root {
  --ex-main-bg-color: #ffffff;
  --ex-layout-bgc: #f4f4f5; // 主题背景色
  --ex-color-text: black; // 文字颜色
  --side-bar-width: 16rem; // 侧边栏宽度
  --nav-bar-height: 3.6rem; // 导航栏高度
}
