.form-container {
  --col-gap: 2; //表单列数
  display: grid;
  grid-template-columns: repeat(var(--col-gap), 1fr);
  grid-column-gap: 15px;
  user-select: none;

  .full-line {
    grid-column: 1 / -1;
  }
  .ex-form-content {
    width: 100%;
  }
}
