@font-face {
  font-family: "iconfont";
  /* Project id 4648959 */
  src: url('//at.alicdn.com/t/c/font_4648959_mskgydnw5zm.woff2?t=1723190828788') format('woff2'),
    url('//at.alicdn.com/t/c/font_4648959_mskgydnw5zm.woff?t=1723190828788') format('woff'),
    url('//at.alicdn.com/t/c/font_4648959_mskgydnw5zm.ttf?t=1723190828788') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//   

.icon-right:before {
  content: "\e601";
}

.icon-left:before {
  content: "\e66d";
}

.icon-top:before {
  content: "\e611";
}

.icon-bottom:before {
  content: "\e600";
}

.icon-a-068_baojianpin:before {
  content: "\e762";
}

.icon-a-068_baoxian:before {
  content: "\e763";
}

.icon-a-068_baoxiao:before {
  content: "\e764";
}

.icon-a-068_bianji:before {
  content: "\e765";
}

.icon-a-068_gongzi:before {
  content: "\e766";
}

.icon-a-068_chongzhi:before {
  content: "\e767";
}

.icon-a-068_fangdai:before {
  content: "\e768";
}

.icon-a-068_dianying:before {
  content: "\e769";
}

.icon-a-068_huazhuang:before {
  content: "\e76a";
}

.icon-a-068_chuzuche:before {
  content: "\e76b";
}

.icon-a-068_chalv:before {
  content: "\e76c";
}

.icon-a-068_gongyi:before {
  content: "\e76d";
}

.icon-a-068_gaodian:before {
  content: "\e76e";
}

.icon-a-068_gongjiao:before {
  content: "\e76f";
}

.icon-a-068_gouwu:before {
  content: "\e770";
}

.icon-a-068_jizhang:before {
  content: "\e771";
}

.icon-a-068_jiaocai:before {
  content: "\e772";
}