.form-main {
  padding: 10px;
  background-color: var(--ex-main-bg-color);
  border-radius: 5px;
  overflow: auto;
}
.main-comp {
  display: grid;
  border: 1px solid red;
  grid-template-columns: 2 1fr;
  height: 100%;
  .base-form-item {
    margin: 10px 5px;
  }
}
